﻿@model IEnumerable<ForumDB.Models.User>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>БД юзеров</title>
</head>
<body>
    <div>
        <h3>Главная страница</h3>
        <table>
            <tr>
                <td><p>Логин     </p></td>
                <td><p>Пароль    </p></td>
                <td><p>Почта     </p></td>
                <td></td>
            </tr>
            @foreach (ForumDB.Models.User u in Model)
            //(var b in ViewBag.Users)
            {
        <tr>
            <td><p>@u.Login</p></td>
            <td><p>@u.Password</p></td>
            <td><p>@u.Email</p></td>
        </tr>
            }
        </table>
    </div>
    <div>
        <a href="/Home/Login"><h4>Авторизация</h4></a>
    </div>
    <div>
        <a href="/Home/Registry"><h4>Регистрация</h4></a>
    </div>
</body>
</html>